 .body {
  background-color: #4a4a60;
  display: grid;
  grid-template-columns: 10% auto auto;
  grid-template-rows: auto auto;

  grid-template-areas:
    "header  header  header"
    "side    main    main ";
    /* "side  side"
    "main main"; */

  }


.article {
font-family: Arial;
color: #d8d8d6;
}

.header {
background: #3f3f64;

font-size: 12pt;
font-family: Arial;
font-weight: normal;
/* height: 95; */
display: grid;
align-content: flex-start;
grid-area: header;

}

.image {
  width:110px; 


}

/* @media screen and (max-width: 700px) {
  .row {   
      flex-direction: column;
  }
} */
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}  */

.side {
  background-color: #3f3f63;
  color: #ef9e0a;
  font-size: 13pt;
  font-family: Arial;
  font-weight: normal;
  display: grid;
  grid-area: side;
  height: 5000px;
  align-content: flex-start;
}

/* Main column */
.main {   
  grid-area: main;
  display: grid;
  height: 5000px;
  color: #ef9e0a;
  align-content: flex-start;

}